@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-1 : #E5E5E5;
  --gray-2 : #DCDDEC;
  --gray-3 : #F4F8FA;
  --blue : #1B31A8;
  --sky : #0079FF;
  --black : #1E2A32;
  --green : #32CD32;
}
